.index{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin-bottom: 100px;
        font-size: 80px;
        color: red;
    }
}
.list {
    background-color: blue;
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        color: white;
        font-size: 30px;
        padding: 10px;
        background-color: grey;
        border-radius: 50%;
    }
}

.back {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgb(218, 228, 85);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;

    a {
        color: white;
        margin-top: 10px;
        padding: 5px;
        background-color: rgb(61, 61, 82);
    }
}

.inputarea {
    height: auto;
    top: 18vh;
    right: 25vw;
    z-index: 1;
}

label {
    font-size: 10vh;
    color: red;
}

input {
    width: 70%;
    height: 20vh;
    font-size: 10vh;
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: red;
    color: white;
    font-size: 30px;
}

.space {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    .blur {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-size: cover;
        background-position: center center;
        filter: blur(50px);
        transition: all 2s;
    }

    .blur.aa {
        filter: blur(1px);
    }
}

.space2 {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    .blur {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-image: url(images/bg2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        filter: blur(50px);
        transition: all 2s;
    }

    .blur.aa {
        filter: blur(1px);
    }
}

.balloon {
    position: absolute;
    width: 200px;
    height: auto;
    transition: all 5s;

    &.img1 {
        bottom: 50px;
        right: 5vw;

        &.fly {
            width: 800px;
            bottom: 1500px;
        }
    }

    &.img2 {
        bottom: 50px;
        right: 20vw;

        &.fly {
            width: 1200px;
            bottom: 1500px;
        }
    }

    &.img3 {
        bottom: 50px;
        right: 70vw;

        &.fly {
            width: 1800px;
            bottom: 1500px;
            right: 10vw;
        }
    }

    &.img4 {
        bottom: 50px;
        right: 85vw;

        &.fly {
            width: 1500px;
            bottom: 1500px;
        }
    }

    &.img5 {
        position: fixed;
        width: 300px;

        &.fly {
            width: 30000px;
            opacity: 0;
            transition: all 4s;
        }
    }
}